# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
android

.vscode

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Perso
NotesDev.docx
src/redux/bcweb_mobapp.code-workspace
~$tesDev.docx
bcweb_mobapp.code-workspace
src/components/Bc140224.js
src/components/Bc150224.js
app_old.json
src/components/Bc08032024.js
src/components/BcList18032024.js
src/components/Bc19032024.js
src/components/BcAcc21032024.js
src/components/BcPce21032024.js
src/components/Bc100424.js
src/components/BcAcc110424.js
src/components/BcPce110424.js
src/components/Main110424.js
src/components/ScanInput110424.js
metro.config.js
.easignore
App1.js
App2.js
App3.js
application-24*
bundletool.jar
eas_copy*
eas19*
package-lock*
universal.apk
yarn.lock
src/env.js
src/components/Bc01aout24.js
src/components/Bc19aout24.js
src/components/UrlInput270524.js
src/components/test
src/redux/actions copy.js
src/redux/store copy.js
src/components/BcList19aout24.js
src/components/BcPce19aout24.js
src/components/Login310524.js
src/components/Main copy.js
src/redux/actions29aout24.js
src/redux/pcesAccsReducer29aout24.js
%ProgramData%/
src/components/Bc04sept24.js
src/components/Bc09sept24.js
src/components/Bc29aout24.js
src/components/Bc30aout24.js
src/components/BcList03sept24.js
src/components/BcList29aout24.js
src/components/BcPce09sept24.js
src/components/BcPce30aout24.js
src/components/temp.js
chargement optionnel modules camera et barcodes.pdf
expo-barcode-scanner.pdf
react-native-qrcode-svg.pdf
scanner_qrcodes_avec_expo-camera.pdf
Trier_les_éléments.pdf
src/components/Bc19sept24.js
src/components/BcPce copy.js22oct24
src/components/LogoutButton.js22oct24
src/redux/pcesAccsReducer19sept24.js

# @generated expo-cli sync-b5df6a44d8735348b729920a7406b633cfb74d4c
# The following patterns were generated by expo-cli

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# vrac
